name: parsec intergration

on:
  workflow_call:
    outputs:
      build_matrix_0:
        description: build order 0, build tasks
        value: ${{ jobs.parsec_intergration.outputs.build_matrix_0 }}
      build_matrix_1:
        description: build order 1, build tasks
        value: ${{ jobs.parsec_intergration.outputs.build_matrix_1 }}
      build_matrix_2:
        description: build order 2, build tasks
        value: ${{ jobs.parsec_intergration.outputs.build_matrix_2 }}
      build_matrix_3:
        description: build order 3, build tasks
        value: ${{ jobs.parsec_intergration.outputs.build_matrix_3 }}
      build_matrix_4:
        description: build order 4, build tasks
        value: ${{ jobs.parsec_intergration.outputs.build_matrix_4 }}
      build_matrix_5:
        description: build order 5, build tasks
        value: ${{ jobs.parsec_intergration.outputs.build_matrix_5 }}
      build_matrix_6:
        description: build order 6, build tasks
        value: ${{ jobs.parsec_intergration.outputs.build_matrix_6 }}
      build_matrix_7:
        description: build order 7, build tasks
        value: ${{ jobs.parsec_intergration.outputs.build_matrix_7 }}
      build_matrix_8:
        description: build order 8, build tasks
        value: ${{ jobs.parsec_intergration.outputs.build_matrix_8 }}
      build_matrix_9:
        description: build order 9, build tasks
        value: ${{ jobs.parsec_intergration.outputs.build_matrix_9 }}
      all_build_task:
        description: all build tasks used for
        value: ${{ jobs.parsec_intergration.outputs.all_build_task }}
      deply:
        description: deploy way AUTO or MANUALLY
        value: ${{ jobs.parsec_intergration.outputs.deply }}

jobs:
  parsec_intergration:
    name: parsec intergration
    runs-on: ubuntu-latest
    outputs:
      build_matrix_0: ${{ steps.parsec_intergration.outputs.build_matrix_0 }}
      build_matrix_1: ${{ steps.parsec_intergration.outputs.build_matrix_1 }}
      build_matrix_2: ${{ steps.parsec_intergration.outputs.build_matrix_2 }}
      build_matrix_3: ${{ steps.parsec_intergration.outputs.build_matrix_3 }}
      build_matrix_4: ${{ steps.parsec_intergration.outputs.build_matrix_4 }}
      build_matrix_5: ${{ steps.parsec_intergration.outputs.build_matrix_5 }}
      build_matrix_6: ${{ steps.parsec_intergration.outputs.build_matrix_6 }}
      build_matrix_7: ${{ steps.parsec_intergration.outputs.build_matrix_7 }}
      build_matrix_8: ${{ steps.parsec_intergration.outputs.build_matrix_8 }}
      build_matrix_9: ${{ steps.parsec_intergration.outputs.build_matrix_9 }}
      all_build_task: ${{ steps.parsec_intergration.outputs.all_build_task }}
      deply: ${{ steps.illegal_repo_tags.outputs.DEPLOY }}

    steps:
      - name: checkout_pull_request
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
          persist-credentials: false

      - name: parsec_intergration
        id: parsec_intergration
        shell: python
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          import requests
          import yaml
          import os
          import logging

          maxSize = os.environ.get("MAX_TASKS", 10)
          illegalTags = []
          illegalRepos = []

          permissions = None
          with open("permissions.yml") as permissions_file:
              permissions = yaml.load(permissions_file, Loader=yaml.BaseLoader)
          not_allowed_repo = permissions.get("noauto")

          header = {
              "Accept": "application/vnd.github+json",
              "Authorization":"Bearer " + os.environ.get("GITHUB_TOKEN")
          }

          def read_intergration():
              with open("intergration.yml", "r+") as intergration_file:
                  return yaml.load(intergration_file, Loader=yaml.BaseLoader)

          def check_tag_exsist(repo, tag):
              res = requests.get("https://api.github.com/repos/{repo}/git/ref/tags/{tag}".format(repo=repo, tag=tag), headers=header)
              if res.status_code != 200:
                  illegalTags.append({"repo": repo, "tag": tag})
              if repo in not_allowed_repo:
                  illegalRepos.append(repo)
          
          def set_output(name, value):
              output_file = os.environ.get("GITHUB_OUTPUT")
              with open(output_file, "a") as output:
                  output.write(name + "=" + value + "\n")

          try:
              allBuildTasks = [{"order": j,"data":{"payload": []}} for j in range(maxSize)]
              data = read_intergration()

              message = data.get("message", "")
              with open("intergration-${{ github.event.number }}-detail.md", "w+") as intergration_detail:
                  intergration_detail.write(message)

              for repo in data.get("repos"):
                  order = int(repo.get("order",0))
                  order = max(0, order) and min(order , maxSize - 1)
                  check_tag_exsist(repo.get('repo'), repo.get('tag'))
                  allBuildTasks[order].get("data").get("payload").append(repo)

              if len(illegalTags) > 0:
                  set_output("illegal_tags", str(illegalTags))
              else:
                  set_output("illegal_tags", "undefined")

              if len(illegalRepos) > 0:
                  set_output("illegal_repos", str(illegalRepos))
              else:
                  set_output("illegal_repos", "undefined")

              allRepos = []
              for order in allBuildTasks:
                  for repo in order.get("data").get("payload"):
                      allRepos.append(repo)
                  if len(order.get("data").get("payload")) > 0:
                      set_output("build_matrix_" + str(order['order']), str(order.get("data")))
              set_output("all_build_task", str(allRepos))

          except BaseException as e:
              logging.error(e)
              exit(-10)

      - name: illegal_repo_tags
        id: illegal_repo_tags
        uses: actions/github-script@v6
        with:
          github-token: ${{ github.token }}
          script: |
            core.setOutput('DEPLOY', 'MANUALLY')

      - name: upload intergration detail
        uses: actions/upload-artifact@v2
        with:
          name: intergration-${{ github.event.number }}-detail.md
          path: intergration-${{ github.event.number }}-detail.md
